*.exe
*.so
*.o
*.mod
*.smod
*.s
*.swp
*.swo
*.lst
core.*
*.DS_Store
results.copy_stats.csv
results.csv
results.db
results.hsa_stats.csv
results.json
results.stats.csv
results.sysinfo.txt
a.out
slurm*.out
